div.comparisonElement {
  display: flex;
  flex-wrap: wrap;
  min-height: 16rem;
  max-width: 36rem;
  min-width: 16rem;
  /* border: 1px solid #000; */
  text-align: center;
  /* background-color: #e1e1e1; */
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

div.comparisonElement img {
  z-index: 100;
}

div.desktopSelector div.comparisonElement:hover {
  background-color: #20b020;
}

div.collectionItem {
  display: block;
  align-self: center;
  max-width: 16rem;
}