div.comparisonContainer {
  max-height: 80%;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  vertical-align: top;
}

div.comparisonText {
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: center;
  height: 100%;
}

div.desktopSelector {
  display: inline-flex;
}

h3.comparisonHelp {
  font-size: 12pt;
  text-align: center;
}