div.targetDropArea {
  width: 8rem;
  height: 15rem;
  text-align: center;
  vertical-align: center;
  touch-action: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

div.dualSwiperBox {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  vertical-align: center;
}