DROP USER IF EXISTS $PRISMA_USER@'$ACCESS_SOURCE_IP';
CREATE USER $PRISMA_USER@'$ACCESS_SOURCE_IP' IDENTIFIED BY '$PRISMA_PASSWORD';
GRANT ALL PRIVILEGES ON $MYSQL_DATABASE.* TO $PRISMA_USER@'$ACCESS_SOURCE_IP';
GRANT CREATE, ALTER, DROP, REFERENCES, UPDATE, INDEX ON *.* TO $PRISMA_USER@'$ACCESS_SOURCE_IP';
