DROP USER IF EXISTS $PRISMA_USER@'$IP';
CREATE USER $PRISMA_USER@'$IP' IDENTIFIED BY '$PRISMA_PASSWORD';
GRANT ALL PRIVILEGES ON $DB_NAME.* TO $PRISMA_USER@'$IP';
GRANT CREATE, ALTER, DROP, REFERENCES, UPDATE ON *.* TO $PRISMA_USER@'$IP';
