DROP USER IF EXISTS $MYSQL_USER@'$ACCESS_SOURCE_IP';
CREATE USER $MYSQL_USER@'$ACCESS_SOURCE_IP' IDENTIFIED BY '$MYSQL_PASSWORD';
GRANT SELECT,INSERT,UPDATE ON $MYSQL_DATABASE.* TO $MYSQL_USER@'$ACCESS_SOURCE_IP';
GRANT SELECT,INSERT,UPDATE,DELETE ON $MYSQL_DATABASE.session TO $MYSQL_USER@'$ACCESS_SOURCE_IP';
